<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to FCC</h1>
    <a href="/auth/twitter">Log In with Twitter</a>
  </body>
</html>
