<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to nightlife</h1>
    <a href="/auth/github">Log In with Github</a>
  </body>
</html>
